<div class="widget" xmlns="http://www.w3.org/1999/html">
    <h3 class="title">关注公众号</h3>
    <div class="content tag-cloud">
        <div class="reward-box">

            <span class="reward-type">
                <img src="/img/gzh.jpg">

            </span>
        </div>
    </div>
</div>
